PORT_V2=3007
OPENROUTER_API_KEY=your_openrouter_api_key_here
FANAR_BASE_URL=https://api.fanar.qa
FANAR_API_KEY=your_fanar_api_key_here
FANAR_MODEL=Fanar
AI_INITIAL_DELAY_HOURS=12
AI_POLL_INTERVAL_MS=60000
